<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragment :: head(~{::title},~{::style})">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sponge-K 博客</title>
    <link rel="stylesheet" href="../static/lib/bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <title>error异常处理页面</title>
    <style></style>
</head>
<body>

<h2>无权访问该资源</h2>




<!-- 相关JS -->
<th:block th:replace="_fragment :: script">
    <script src="../static/js/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script src="../static/lib/bootstrap-4.3.1/js/bootstrap.min.js"></script>
    <script src="../static/lib/bootstrap-4.3.1/js/popper.min.js"></script>
</th:block>

</body>
</html>