<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="background/bg_fragment :: head(~{::title})">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>首页</title>
    <link rel="stylesheet" href="../static/lib/bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/lib/font-awesome-4.7.0/css/font-awesome.min.css">

</head>
<body>
<!-- 导航部分 -->
<nav th:replace="background/bg_fragment :: top_nav" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
        <img src="../image/logo.png" width="30" height="30" alt="">
        <span class="small">Sponge博客管理后台</span>
    </a>

    <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle border border-white" src="../image/lb-1.jpeg" width="30px" height="30px">
                    <span>超级管理员</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">系统信息</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">个人信息</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">退出登录</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <!-- 页面左侧内容 -->
        <div th:replace="background/bg_fragment :: left_nav(2)"
             class="col-2 pt-3 bg-dark text-white m-left-font height-100">
            <!-- 管理导航列表 -->
            <a class="btn btn-sm btn-block btn-outline-primary active" href="index.html"><i
                    class="fa fa-area-chart mr-2" aria-hidden="true"></i>Dashboard</a>
            <div class="m-dropdown-divider"></div>
            <a class="btn btn-sm btn-block btn-outline-primary" href="blog.html"><i class="fa fa-book mr-2"
                                                                                    aria-hidden="true"></i>博客管理</a>
            <div class="m-dropdown-divider"></div>
            <a class="btn btn-sm btn-block btn-outline-primary" href="comment.html"><i class="fa fa-comments mr-2"
                                                                                       aria-hidden="true"></i>评论管理</a>
            <div class="m-dropdown-divider"></div>
            <a class="btn btn-sm btn-block btn-outline-primary" href="type.html"><i class="fa fa-clipboard mr-2"
                                                                                    aria-hidden="true"></i>分类管理</a>
            <div class="m-dropdown-divider"></div>
            <a class="btn btn-sm btn-block btn-outline-primary" href="label.html"><i class="fa fa-bookmark mr-2"
                                                                                     aria-hidden="true"></i>标签管理</a>
            <div class="m-dropdown-divider"></div>
            <a class="btn btn-sm btn-block btn-outline-primary" href="user.html"><i class="fa fa-user-circle-o mr-2"
                                                                                    aria-hidden="true"></i>用户管理</a>
            <div class="m-dropdown-divider"></div>
            <a class="btn btn-sm btn-block btn-outline-primary" href="#"><i class="fa fa-cogs mr-2"
                                                                            aria-hidden="true"></i>系统配置</a>
            <div class="m-dropdown-divider"></div>
            <a class="btn btn-sm btn-block btn-outline-primary" href="#"><i class="fa fa-link mr-2"
                                                                            aria-hidden="true"></i>友情链接</a>
            <div class="text-center" style="margin-top: 4rem;color: #82888d">个人博客后台管理系统 v1.0</div>
        </div>

        <!-- 页面右侧内容 -->
        <div class="col-10 pt-3">
            <div class="">
                <!-- 列表 -->
                <table class="table table-hover table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">标题</th>
                        <th scope="col">浏览</th>
                        <th scope="col">点赞</th>
                        <th scope="col">类型</th>
                        <th scope="col">状态</th>
                        <th scope="col">首推</th>
                        <th scope="col">评论</th>
                        <th scope="col">版权</th>
                        <th scope="col">管理</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="blog,num : ${blogs}">
                        <td scope="row" th:text="${num.count}">1</td>
                        <td th:text="${#strings.abbreviate(blog.title,14)}"></td>
                        <td th:text="${blog.readingQuantity}">189</td>
                        <td th:text="${blog.likeNumInt}">21</td>
                        <td>
                            <span class="badge badge-info" th:if="${blog.blogNature == 1}">原创</span>
                            <span class="badge badge-warning text-white" th:if="${blog.blogNature == 2}">转载</span>
                            <span class="badge badge-secondary text-white" th:if="${blog.blogNature == 3}">其他</span>
                        </td>
                        <td>
                            <span class="badge badge-success" th:if="${blog.status}">发布</span>
                            <span class="badge badge-danger" th:if="${!blog.status}">草稿</span>
                        </td>
                        <td>
                            <span class="badge badge-success" th:if="${blog.openHomeRecommend}">启用</span>
                            <span class="badge badge-danger" th:if="${!blog.openHomeRecommend}">禁用</span>
                        </td>
                        <td>
                            <span class="badge badge-success" th:if="${blog.openComment}">启用</span>
                            <span class="badge badge-danger" th:if="${!blog.openComment}">禁用</span>
                        </td>
                        <td>
                            <span class="badge badge-success" th:if="${blog.openCopyright}">启用</span>
                            <span class="badge badge-danger" th:if="${!blog.openCopyright}">禁用</span>
                        </td>
                        <td>
                            <a th:href="@{/bg/blog/toUpdate/{blogId}(blogId=${blog.blogId})}" class="btn btn-sm btn-outline-primary pl-3 pr-3 mr-2">编辑</a>
                            <a th:href="@{/bg/blog/delete/{blogId}(blogId=${blog.blogId})}" class="btn btn-sm btn-outline-danger pl-3 pr-3">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- 分页 -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">&raquo;</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>


<th:block th:replace="background/bg_fragment :: script">
    <script src="../static/js/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script src="../static/lib/bootstrap-4.3.1/js/bootstrap.min.js"></script>
    <script src="../static/lib/bootstrap-4.3.1/js/popper.min.js"></script>
</th:block>
<script>
    var testEditor;

    $(function () {
        testEditor = editormd("test-editormd", {
            placeholder: '本编辑器支持Markdown编辑，左边编写，右边预览',  //默认显示的文字，这里就不解释了
            width: "90%",
            height: 640,
            syncScrolling: "single",
            path: "/lib/editor.mb-master/lib/",
            //theme: "dark",//工具栏主题
            //previewTheme: "dark",//预览主题
            //editorTheme: "pastel-on-dark",//编辑主题
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: "/file",
            //这个配置在simple.html中并没有，但是为了能够提交表单，使用这个配置可以让构造出来的HTML代码直接在第二个隐藏的textarea域中，方便post提交表单。
            saveHTMLToTextarea: true,
            //emoji: false,
            //taskList: true,
            //tocm: true,         // Using [TOCM]
            //tex: true,                   // 开启科学公式TeX语言支持，默认关闭
            //flowChart: true,             // 开启流程图支持，默认关闭
            //sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭,
            toolbarIcons: function () {  //自定义工具栏，后面有详细介绍
                return editormd.toolbarModes['simple']; // full, simple, mini
            },
        });
    });

    function saveHtml() {
        // console.log($("#text").text());
        console.log($("#textContent").text());
        $.ajax({
            url: "/editor/add",
            type: "post",
            async: true,
            data: {
                "title": $('#title').val(),
                "imageUrl": $('#imageUrl').val(),
                "content": $("#text").text(),
                "markdownContent": $("#textContent").text(),
                "blogNature": $('#blogNature').val(),
                "openHomeRecommend": $('#openHomeRecommend').val(),
                "openCopyright": $('#openCopyright').val(),
                "openComment": $('#openComment').val()
            },
            dataType: "json",
            success: function (data) {
                alert(data.message);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.status);
                alert(XMLHttpRequest.readyState);
                alert(textStatus); // paser error;
            }
        });
    }
</script>
</body>
</html>