<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragment :: head(~{::title},~{::style})">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sponge-K 博客</title>
    <link rel="stylesheet" href="../static/lib/bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- mk样式包 -->
    <link rel="stylesheet" href="../static/lib/editor.mb-master/css/editormd.min.css">
    <style>
        body {
            height: 100% !important;
        }
    </style>
</head>
<body>
<!-- 导航部分 -->
<nav th:replace="background/bg_fragment :: top_nav" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
        <img src="../image/logo.png" width="30" height="30" alt="">
        <span class="small">Sponge博客管理后台</span>
    </a>

    <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle border border-white" src="../image/lb-1.jpeg" width="30px" height="30px">
                    <span>超级管理员</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">系统信息</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">个人信息</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">退出登录</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <!-- 页面右侧内容 -->
        <div class="col-12 pt-3 mb-5">
            <div class="tab-content" id="pills-tabContent">
                <form th:action="@{/bg/blog/add}" th:method="post">
                    <!-- 博客标题 -->
                    <div class="form-group">
                        <label for="title">博客标题</label>
                        <input type="text" class="form-control" id="title" th:name="title" placeholder="请输入博客标题">
                    </div>

                    <!-- 首图地址 -->
                    <div class="form-group">
                        <label for="imageUrl">首图地址</label>
                        <input type="text" class="form-control" id="imageUrl" th:name="imageUrl" placeholder="请输入首图地址">
                    </div>

                    <div class="form-row">
                        <div class="form-group col-3">
                            <label for="blogNature">博客性质</label>
                            <select id="blogNature" class="form-control" th:name="blogNature">
                                <option selected>请选择</option>
                                <option th:value="1">原创</option>
                                <option th:value="2">转载</option>
                                <option th:value="3">其他</option>
                            </select>
                        </div>
                        <div class="form-group col-3">
                            <label for="openHomeRecommend">首页推荐</label>
                            <select id="openHomeRecommend" class="form-control" th:name="openHomeRecommend">
                                <option selected>请选择</option>
                                <option th:value="true">开启</option>
                                <option th:value="false">禁用</option>
                            </select>
                        </div>
                        <div class="form-group col-3">
                            <label for="openCopyright">版权信息</label>
                            <select id="openCopyright" class="form-control" th:name="openCopyright">
                                <option selected>请选择</option>
                                <option th:value="true">开启</option>
                                <option th:value="false">禁用</option>
                            </select>
                        </div>
                        <div class="form-group col-3">
                            <label for="openComment">评论功能</label>
                            <select id="openComment" class="form-control" th:name="openComment">
                                <option selected>请选择</option>
                                <option th:value="true">开启</option>
                                <option th:value="false">禁用</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-3">
                            <label for="status">文章状态</label>
                            <select id="status" class="form-control" th:name="status">
                                <option selected>请选择</option>
                                <option th:value="true">发布</option>
                                <option th:value="false">草稿</option>
                            </select>
                        </div>
                        <div class="form-group col-3">
                            <label for="typeId">博客分类</label>
                            <select id="typeId" class="form-control" th:name="typeId">
                                <option selected>请选择</option>
                                <option th:each="type : ${types}" th:value="${type.typeId}" th:text="${type.typeName}">
                                    测试分类
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-3">
                            <label for="qx">博客标签</label>
                            <select id="qx" class="form-control" th:name="labelId">
                                <option selected>请选择</option>
                                <option th:each="label : ${labels}" th:value="${label.labelId}"
                                        th:text="${label.labelName}">测试标签
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group w-100" id="test-editormd" style="z-index: 999 !important;">
                        <label for="mkContent">文章内容</label>
                        <textarea style="display:none;" id="mkContent" th:name="markdownContent"></textarea>
                        <!-- 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 -->
                        <textarea id="htmlContent" class="editormd-html-textarea" th:name="content"></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-primary pl-5 pr-5">发布博客</button>
                </form>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="background/bg_fragment :: script">
    <script src="../static/js/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script src="../static/lib/bootstrap-4.3.1/js/bootstrap.min.js"></script>
    <script src="../static/lib/bootstrap-4.3.1/js/popper.min.js"></script>
</th:block>
<script>

    var testEditor;

    $(function () {
        testEditor = editormd("test-editormd", {
            placeholder: '本编辑器支持Markdown编辑，左边编写，右边预览',  //默认显示的文字，这里就不解释了
            //width: "90%",
            height: 640,
            syncScrolling: "single",
            path: "/lib/editor.mb-master/lib/",
            //theme: "dark",//工具栏主题
            //previewTheme: "dark",//预览主题
            //editorTheme: "pastel-on-dark",//编辑主题
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: "/file",
            //这个配置在simple.html中并没有，但是为了能够提交表单，使用这个配置可以让构造出来的HTML代码直接在第二个隐藏的textarea域中，方便post提交表单。
            saveHTMLToTextarea: true,
            //emoji: false,
            //taskList: true,
            //tocm: true,         // Using [TOCM]
            //tex: true,                   // 开启科学公式TeX语言支持，默认关闭
            //flowChart: true,             // 开启流程图支持，默认关闭
            //sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭,
            toolbarIcons: function () {  //自定义工具栏，后面有详细介绍
                return editormd.toolbarModes['simple']; // full, simple, mini
            },
        });
    });

</script>
</body>
</html>