<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangtutu.sponge.blog.mapper.BlogMapper">

    <!-- 抽取条件判断的公共SQl -->
    <sql id="termSQL">
        <if test="blogId != null">and blog_id=#{blogId}</if>
        <if test="labelId != null">and label_id=#{labelId}</if>
        <if test="typeId != null">and type_id=#{typeId}</if>
        <if test="readingQuantity != null">and reading_quantity=#{readingQuantity}</if>
        <if test="likeNumInt != null">and like_num_int=#{likeNumInt}</if>
        <if test="openHomeRecommend != null">and open_home_recommend=#{openHomeRecommend}</if>
        <if test="openCopyright != null">and open_copyright=#{openCopyright}</if>
        <if test="openComment != null">and open_comment=#{openComment}</if>
        <if test="publishYear != null">and publish_year=#{publishYear}</if>
        <if test="publishMonth != null">and publish_month=#{publishMonth}</if>
        <if test="waitForReply != null">and wait_for_reply=#{waitForReply}</if>
        <if test="status != null">and status=#{status}</if>
    </sql>

    <!-- 新增数据 -->
    <insert id="saveBlog" parameterType="com.kangtutu.sponge.blog.pojo.sdo.SpongeBlogDO">
        insert into sk_blog
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="author != null">author,</if>
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="markdownContent != null">markdown_content,</if>
            <if test="imageUrl != null">image_url,</if>
            <if test="blogNature != null">blog_nature,</if>
            <if test="labelName != null">label_name,</if>
            <if test="typeName != null">type_name,</if>
            <if test="labelId != null">label_id,</if>
            <if test="typeId != null">type_id,</if>
            <if test="readingQuantity != null">reading_quantity,</if>
            <if test="likeNumInt != null">like_num_int,</if>
            <if test="openHomeRecommend != null">open_home_recommend,</if>
            <if test="openCopyright != null">open_copyright,</if>
            <if test="openComment != null">open_comment,</if>
            <if test="status != null">status,</if>
            <if test="publishYear != null">publish_year,</if>
            <if test="publishMonth != null">publish_month,</if>
            <if test="creationUser != null">creation_user,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="creationTime != null">creation_time,</if>
            <if test="updateTime != null">update_time</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="author != null">#{author},</if>
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="markdownContent != null">#{markdownContent},</if>
            <if test="imageUrl != null">#{imageUrl},</if>
            <if test="blogNature != null">#{blogNature},</if>
            <if test="labelName != null">#{labelName},</if>
            <if test="typeName != null">#{typeName},</if>
            <if test="labelId != null">#{labelId},</if>
            <if test="typeId != null">#{typeId},</if>
            <if test="readingQuantity != null">#{readingQuantity},</if>
            <if test="likeNumInt != null">#{likeNumInt},</if>
            <if test="openHomeRecommend != null">#{openHomeRecommend},</if>
            <if test="openCopyright != null">#{openCopyright},</if>
            <if test="openComment != null">#{openComment},</if>
            <if test="status != null">#{status},</if>
            <if test="publishYear != null">#{publishYear},</if>
            <if test="publishMonth != null">#{publishMonth},</if>
            <if test="creationUser != null">#{creationUser},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="creationTime != null">#{creationTime},</if>
            <if test="updateTime != null">#{updateTime}</if>
        </trim>
    </insert>

    <!-- 更新数据 -->
    <update id="updateBlog" parameterType="com.kangtutu.sponge.blog.pojo.sdo.SpongeBlogDO">
        update sk_blog
        <trim prefix="set" suffixOverrides=",">
            <if test="author != null">author=#{author},</if>
            <if test="title != null">title=#{title},</if>
            <if test="content != null">content=#{content},</if>
            <if test="markdownContent != null">markdown_content=#{markdownContent},</if>
            <if test="imageUrl != null">image_url=#{imageUrl},</if>
            <if test="blogNature != null">blog_nature=#{blogNature},</if>
            <if test="labelName != null">label_name=#{labelName},</if>
            <if test="typeName != null">type_name=#{typeName},</if>
            <if test="labelId != null">label_id=#{labelId},</if>
            <if test="typeId != null">type_id=#{typeId},</if>
            <if test="readingQuantity != null">reading_quantity=#{readingQuantity},</if>
            <if test="likeNumInt != null">like_num_int=#{likeNumInt},</if>
            <if test="openHomeRecommend != null">open_home_recommend=#{openHomeRecommend},</if>
            <if test="openCopyright != null">open_copyright=#{openCopyright},</if>
            <if test="openComment != null">open_comment=#{openComment},</if>
            <if test="status != null">status=#{status},</if>
            <if test="publishYear != null">publish_year=#{publishYear},</if>
            <if test="publishMonth != null">publish_month=#{publishMonth},</if>
            <if test="updateUser != null">update_user=#{updateUser},</if>
            <if test="updateTime != null">update_time=#{updateTime}</if>
        </trim>
        where blog_id=#{blogId}
    </update>

    <!-- 查询指定id -->
    <select id="queryBlogById" parameterType="java.lang.Integer" resultType="com.kangtutu.sponge.blog.pojo.sdo.SpongeBlogDO">
        select * from sk_blog where blog_id=#{blogId};
    </select>

    <!-- 首页博客列表查询阅读量排行前10的文章 -->
    <select id="queryBlogByReadingQuantity" parameterType="com.kangtutu.sponge.blog.pojo.sdo.SpongeTermDO" resultType="com.kangtutu.sponge.blog.pojo.sdo.SpongeBlogDO">
        select * from sk_blog where status=#{status} order by reading_quantity desc limit #{startPage},#{pageSize};
    </select>

    <!-- 通用查询，按照发布时间进行降序排序 -->
    <select id="queryBlogByTerm" parameterType="com.kangtutu.sponge.blog.pojo.sdo.SpongeTermDO" resultType="com.kangtutu.sponge.blog.pojo.sdo.SpongeBlogDO">
        select * from sk_blog
        <where>
            <include refid="termSQL"></include>
        </where>
        order by creation_time desc
        <if test="startPage != null and pageSize !=null">
            limit #{startPage},#{pageSize}
        </if>
    </select>

    <!-- 查询分类及标签条件 -->
    <select id="queryBlogLabelOrTypeByTerm" parameterType="com.kangtutu.sponge.blog.pojo.sdo.SpongeTermDO" resultType="com.kangtutu.sponge.blog.pojo.sdo.SpongeBlogDO">
        select * from sk_blog b
        <if test="labelId != null">left join sk_label la on b.label_id=la.label_id</if>
        <if test="typeId != null">left join sk_type t on b.type_id=t.type_id</if>
        <where>
            <if test="labelId != null">and b.label_id=#{labelId}</if>
            <if test="typeId != null">and b.type_id=#{typeId}</if>
            <if test="status != null">and b.status=#{status}</if>
        </where>
        order by b.creation_time,b.reading_quantity
        <if test="startPage != null and pageSize != null">
            limit #{startPage},#{pageSize}
        </if>
    </select>

    <!-- 按条件查询总条数 -->
    <select id="queryCountByTerm" parameterType="com.kangtutu.sponge.blog.pojo.sdo.SpongeTermDO" resultType="java.lang.Integer">
        select count(*) from sk_blog
        <where>
            <include refid="termSQL"></include>
        </where>
    </select>

    <!-- 查询数据库表中的年份 -->
    <select id="queryBlogPublishYear" resultType="java.lang.Integer">
        select publish_year from sk_blog group by publish_year order by publish_year desc;
    </select>

    <!-- 删除指定id数据 -->
    <delete id="deleteBlogById" parameterType="java.lang.Integer">
        delete from sk_blog where blog_id=#{blogId};
    </delete>

</mapper>