<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangtutu.sponge.blog.mapper.UserMapper">

    <select id="findSpongeSecurityUserByUserName" parameterType="java.lang.String" resultType="com.kangtutu.sponge.blog.pojo.sdo.SpongeSecurityUserDO">
        select * from sec_user where username=#{username};
    </select>

    <select id="findPermissionByUserName" parameterType="java.lang.String" resultType="com.kangtutu.sponge.blog.pojo.sdo.SpongePermissionDO">
        select sec_parm.* from sec_user
            inner join sec_user_role on sec_user.id=sec_user_role.user_id
            inner join sec_role_parm on sec_user_role.role_id=sec_role_parm.role_id
            inner join sec_parm on sec_role_parm.parm_id=sec_parm.id
        where sec_user.username=#{username};
    </select>

<!--

CREATE TABLE `sec_parm` (
  `id` int(11) NOT NULL,
  `parm_name` varchar(255) DEFAULT NULL,
  `parm_targ` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `sec_role` (
  `id` int(11) NOT NULL,
  `role_name` varchar(255) DEFAULT NULL,
  `role_msg` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `sec_role_parm` (
  `role_id` int(11) DEFAULT NULL,
  `parm_id` int(11) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `sec_user` (
  `id` int(11) NOT NULL,
  `username` varchar(255) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `account_non_expired` tinyint(1) DEFAULT NULL,
  `account_non_locked` tinyint(1) DEFAULT NULL,
  `enabled` tinyint(1) DEFAULT NULL,
  `credentials_non_expired` tinyint(1) DEFAULT NULL,
  `creation_time` datetime DEFAULT NULL,
  `last_login_time` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `sec_user_role` (
  `user_id` int(11) DEFAULT NULL,
  `role_id` int(11) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

-->

</mapper>