<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title,styles)">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:replace="${title}">Sponge-K 博客</title>
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css" th:href="@{/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}">
<!--    <th:block th:replace="${links}" />-->
    <th:block th:replace="${styles}" />
</head>
<body>
<!-- 导航 -->
<nav th:fragment="navbar(n)" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#" th:href="@{/blog}">
        <img src="../static/image/logo.png" th:src="@{/image/logo.png}" width="30" height="30" alt="">
        <span class="small font-weight-bold">Sponge博客</span>
    </a>

    <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
            <li class="nav-item pl-2 pr-2 mr-1">
                <a class="nav-link" th:classappend="${n == 1}?'active'" href="#" th:href="@{/blog}">首页</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" th:classappend="${n == 2}?'active'" href="#" th:href="@{/blog/diary}">日记</a>
            </li>
            <li class="nav-item pl-2 pr-2 mr-1">
                <a class="nav-link" th:classappend="${n == 3}?'active'" href="#" th:href="@{/blog/type}">分类</a>
            </li>
            <li class="nav-item pl-2 pr-2 mr-1">
                <a class="nav-link" th:classappend="${n == 4}?'active'" href="#" th:href="@{/blog/label}">标签</a>
            </li>
            <li class="nav-item pl-2 pr-2 mr-1">
                <a class="nav-link" th:classappend="${n == 5}?'active'" href="#" th:href="@{/blog/archive}">归档</a>
            </li>
            <li class="nav-item pl-2 pr-2 mr-1">
                <a class="nav-link" th:classappend="${n == 6}?'active'" href="#" th:href="@{/blog/isme}">关于</a>
            </li>
            <li class="nav-item pl-2 pr-2">
                <a class="nav-link" th:classappend="${n == 7}?'active'" href="#" th:href="@{/blog/comment}">留言</a>
            </li>
        </ul>
        <form th:action="@{/blog/search}" th:method="post" class="form-inline bg-light ml-4" style="border-radius: 5px">
            <div class="input-group-sm">
                <input class="form-control" type="search" placeholder="search"
                       style="border: none;background-color:transparent;width: 100px" name="search">
            </div>
            <button class="btn btn-sm" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </div>
</nav>

<!-- 页脚 -->
<footer th:fragment="footer" class="container-fluid bg-dark text-white pt-3 pb-3">
    <div class="text-center small">
        &copy;&nbsp;2019&nbsp;|&nbsp;Sponge博客版权所有&nbsp;|&nbsp;京备案88888-2345687
    </div>
</footer>

<!-- 公共JS抽取 -->
<th:block th:fragment="script">
    <script src="../static/js/jquery-3.4.1/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
    <script src="../static/js/bootstrap/bootstrap.min.js" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    <script src="../static/js/bootstrap/popper.min.js" th:src="@{/js/bootstrap/popper.min.js}"></script>
</th:block>
</body>
</html>