<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragment :: head(~{::title},~{::style})">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sponge博客 - 详情</title>
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <style>
        /*阴影设置*/
        .m-card-box-shadow {
            border: transparent;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
        }
    </style>
</head>
<body>
<!-- 导航 -->
<nav th:replace="_fragment :: navbar(1)" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#" th:href="@{/blog}">
        <img src="../static/image/logo.png" width="30" height="30" alt="">
        <span class="small font-weight-bold">Sponge博客</span>
    </a>

    <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
            <li class="nav-item pl-2 pr-2 mr-1">
                <a class="nav-link" href="#" th:href="@{/blog}">首页</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" th:href="@{/blog/diary}">日记</a>
            </li>
            <li class="nav-item pl-2 pr-2 mr-1">
                <a class="nav-link" href="#" th:href="@{/blog/type}">分类</a>
            </li>
            <li class="nav-item pl-2 pr-2 mr-1">
                <a class="nav-link" href="#" th:href="@{/blog/label}">标签</a>
            </li>
            <li class="nav-item pl-2 pr-2 mr-1">
                <a class="nav-link active" href="#" th:href="@{/blog/archive}">归档</a>
            </li>
            <li class="nav-item pl-2 pr-2 mr-1">
                <a class="nav-link" href="#" th:href="@{/blog/isme}">关于</a>
            </li>
            <li class="nav-item pl-2 pr-2">
                <a class="nav-link" href="#" th:href="@{/blog/comment}">留言</a>
            </li>
        </ul>
        <form th:action="@{/blog/search}" th:method="post" class="form-inline bg-light ml-4" style="border-radius: 5px">
            <div class="input-group-sm">
                <input class="form-control" type="search" placeholder="search"
                       style="border: none;background-color:transparent;width: 100px" name="search">
            </div>
            <button class="btn btn-sm" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </div>
</nav>

<!-- 内容区 -->
<div class="container mt-4 mb-5">
    <div class="row">
        <div class="col-9">
            <!-- 博客文章内容 -->
            <div>
                <!-- 标题部分 -->
                <div class="border-bottom">
                    <h3 th:text="${blog.title}">标题部分</h3>
                    <p class="small pt-2">
                        <!-- 作者 -->
                        <span class="mr-4"><i class="fa fa-user mr-1" aria-hidden="true"></i><span
                                th:text="${blog.author}">kangtutu</span></span>
                        <!-- 时间 -->
                        <span class="mr-4"><i class="fa fa-calendar mr-1" aria-hidden="true"></i><span
                                th:text="${#dates.format(blog.creationTime,'yyyy-MM-dd')}"></span></span>
                        <!-- 浏览 -->
                        <span class="mr-4"><i class="fa fa-eye mr-1" aria-hidden="true"></i><span
                                th:text="${blog.readingQuantity}"></span></span>
                        <!-- 评论 -->
                        <span class="mr-4"><i class="fa fa-comments-o mr-1" aria-hidden="true"></i><span
                                th:text="${blog.likeNumInt}"></span></span>

                        <!-- 分类 -->
                        <span class="mr-4"><i class="fa fa-comments-o mr-1" aria-hidden="true"></i><span
                                th:text="${blog.typeName}"></span></span>

                        <!-- 标签 -->
                        <span><i class="fa fa-comments-o mr-1" aria-hidden="true"></i><span
                                th:text="${blog.labelName}"></span></span>

                    </p>
                </div>
                <div class="mt-3" th:text="${blog.content}">
                    还要再坚持吗？再坚持还有什么意见呢？男孩心里一直思考着这个问题。可现在在想这些又有什么用呢？虽然知道没有任何用，但男孩还是会忍不住的想，忍不住的胡思乱想，他害怕，害怕自己停下来会心痛的喘不过气。他以为自己早就习惯了这种难过，他以为他早就接受了女孩不想和他在一起的事实，可是男孩却不知道，原来在自己内心深处，还是相信着女孩会和他在一起，他从未把女孩从自己的未来中抹去。

                    　　可是现在他能怎么做呢？是放弃还继续坚持的去挽留？男孩不想他的人生因为这次退缩而留下遗憾。

                    　　所以在女孩说完分手后的这一夜，男孩不由自主的将他们的故事一字一字的写了出来，回忆着过去的种种，时间仿佛倒流，男孩清晰的记得曾经发生的一切，一幕幕就好像发生在昨天，也许这就是故事的结局了吧？可男孩还是希望这篇只是故事的前半部分，故事写到这里，天已经亮了，男孩决定去女孩的城市最后一次见女孩，当然男孩还是希望这不是最后一次。

                    　　即使男孩万分的不情愿，但是现如今也只能无奈的接受了结局，女孩离开了，再也不可能回到男孩身边。

                    　　男孩将女孩留下的衣服打包好，他用还东西的理由当做借口，来到了女孩所在的城市。一路的沉静，让男孩忍不住回忆起过去的经历，这段路是他和女孩走过无数次，现在回想起来，那时候的自己是多么的幸福，那时候的自己如果早知道会有这一天，他会更珍惜女孩，更珍惜和女孩在一起的点点滴滴，一分一秒。

                    　　他想和女孩创造更多回忆，更多难以忘怀的回忆。

                    　　眼泪不由自主划过男孩的脸颊，他不知道自己这一去会不会成功，如果不成功他要何去何从？

                    　　下了火车，男孩在出站口驻足很久很久，久到两腿发麻，泪水一滴又一滴，止不住地流下来。泪眼朦胧中，他好像又看到了女孩站在面前，就像第一次的相见，就像无数次他来到这座城市，女孩都会站在这里等待他一样。

                    　　我回来了，我回来了，我回来了……可是你在哪？

                    　　男孩躲进厕所，掩面痛哭。为什么我们会走到今天这一步？他不知道，他不在乎，他只想女孩回来，回来就好，他什么都不在乎。

                    　　拿出手机，男孩拔打了女孩的电话，他问女孩在哪，女孩说在学校的图书馆，男孩说你在那等我，我马上过来。男孩不知道再说些什么，他害怕听到女孩的声音，害怕女孩说不想见他，更害怕自己会忍不住哭出声，让女孩听到。

                    　　挂断了电话，男孩走到公交站等车，这时女孩又发了短信问他，到哪里了。男孩强忍着眼泪，简短的回复着：火车站，等公交，不着急。

                    　　上了公交车，男孩选择坐在最后一排，他将头深深埋起来，一遍一遍擦着眼泪。不能哭，不能哭，不能让女孩看见他的眼泪。公交车缓缓行驶着，男孩看向车窗外，城市没变，可是心境却变了。

                    　　有多少次，男孩是和女孩一起乘坐这趟车，从来不知道，原来坐车也会这样痛苦，这样煎熬。

                    　　下了车，男孩看着女孩所在的学校，他想起了和女孩第一次来，是和女孩一起办理住校手续，第二次来是为了来找女孩，男孩曾经无数次走进这所学校，都是和女孩一起。而今天，他也是为了来找女孩。

                    　　男孩走进女孩的教学楼里，他看了又看，想了又想，然后擦干净泪痕，给女孩发了短信：我到了。
                </div>
            </div>
            <!-- 版权相关 -->
            <div class="card bg-danger mt-4"
                 style="background-color: rgba(255,0,0,0.18) !important;border: transparent">
                <div class="card-body text-danger">
                    <ul>
                        <li class="pt-3 pb-2">信息1</li>
                        <li class="pb-2">信息1</li>
                        <li>信息1</li>
                    </ul>
                </div>
            </div>
            <!-- 评论相关 -->
            <div class="mt-4">
                <!-- 评论信息提交框 -->
                <div class="overflow-hidden p-4" style="box-shadow: 0 0 8px rgba(0,0,0,0.12);">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="nickName">昵称</label>
                                <input type="text" class="form-control" id="nickName" placeholder="请输入昵称">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email">邮箱</label>
                                <input type="email" class="form-control" id="email" placeholder="请输入邮箱">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">评论信息</label>
                            <textarea class="form-control" id="inputAddress" rows="3"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary float-right">提交评论</button>
                    </form>
                </div>
                <!-- 留言信息 -->
                <div class="mt-3 mb-4">
                    <h5 class="font-weight-bold pb-2 mb3">留言信息</h5>
                    <div class="card mb-3" style="border: transparent;box-shadow: 0 0 8px rgba(0,0,0,0.12);">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-1 pt-2 pb-2">
                                    <p class="font-weight-bold m-auto"
                                       style="width: 40px;height: 40px;border-radius: 50%;line-height: 40px;text-align: center;border:1px blue solid;color: blue">
                                        S</p>
                                </div>
                                <div class="col-11">
                                    <p class="">
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                    </p>
                                    <p class="small border-top pt-1">
                                        <span>Som</span>
                                        <span>2019-11-12 12:23:22</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="offset-1 col-1 pt-2 pb-2 text-center">
                                    <p class="font-weight-bold m-auto"
                                       style="width: 40px;height: 40px;border-radius: 50%;line-height: 40px;border:1px blue solid;color: blue">
                                        S</p>
                                </div>
                                <div class="col-10">
                                    <p class="">
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                    </p>
                                    <p class="small border-top pt-1">
                                        <span>Som</span>
                                        <span>2019-11-12 12:23:22</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3" style="border: transparent;box-shadow: 0 0 8px rgba(0,0,0,0.12);">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-1 pt-2 pb-2">
                                    <p class="font-weight-bold m-auto"
                                       style="width: 40px;height: 40px;border-radius: 50%;line-height: 40px;text-align: center;border:1px blue solid;color: blue">
                                        S</p>
                                </div>
                                <div class="col-11">
                                    <p class="">
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                    </p>
                                    <p class="small border-top pt-1">
                                        <span>Som</span>
                                        <span>2019-11-12 12:23:22</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="offset-1 col-1 pt-2 pb-2 text-center">
                                    <p class="font-weight-bold m-auto"
                                       style="width: 40px;height: 40px;border-radius: 50%;line-height: 40px;border:1px blue solid;color: blue">
                                        S</p>
                                </div>
                                <div class="col-10">
                                    <p class="">
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                    </p>
                                    <p class="small border-top pt-1">
                                        <span>Som</span>
                                        <span>2019-11-12 12:23:22</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3" style="border: transparent;box-shadow: 0 0 8px rgba(0,0,0,0.12);">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-1 pt-2 pb-2">
                                    <p class="font-weight-bold m-auto"
                                       style="width: 40px;height: 40px;border-radius: 50%;line-height: 40px;text-align: center;border:1px blue solid;color: blue">
                                        S</p>
                                </div>
                                <div class="col-11">
                                    <p class="">
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                    </p>
                                    <p class="small border-top pt-1">
                                        <span>Som</span>
                                        <span>2019-11-12 12:23:22</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="offset-1 col-1 pt-2 pb-2 text-center">
                                    <p class="font-weight-bold m-auto"
                                       style="width: 40px;height: 40px;border-radius: 50%;line-height: 40px;border:1px blue solid;color: blue">
                                        S</p>
                                </div>
                                <div class="col-10">
                                    <p class="">
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                    </p>
                                    <p class="small border-top pt-1">
                                        <span>Som</span>
                                        <span>2019-11-12 12:23:22</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3" style="border: transparent;box-shadow: 0 0 8px rgba(0,0,0,0.12);">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-1 pt-2 pb-2">
                                    <p class="font-weight-bold m-auto"
                                       style="width: 40px;height: 40px;border-radius: 50%;line-height: 40px;text-align: center;border:1px blue solid;color: blue">
                                        S</p>
                                </div>
                                <div class="col-11">
                                    <p class="">
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                        Some quick example text to build on the card title and make up the bulk of the
                                        card's
                                        content.
                                    </p>
                                    <p class="small border-top pt-1">
                                        <span>Som</span>
                                        <span>2019-11-12 12:23:22</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <!--阅读排行(前10篇)-->
            <div class="card mb-4">
                <h6 class="card-header font-weight-bold text-danger">阅读排行</h6>
                <div class="card-body">
                    <a href="#" class="d-block small text-decoration-none border-bottom pb-2">
                        <span class="badge badge-secondary mr-2">1</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                    <a href="#" class="d-block small text-decoration-none border-bottom pt-2 pb-2">
                        <span class="badge badge-secondary mr-2">2</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                    <a href="#" class="d-block small text-decoration-none border-bottom pt-2 pb-2">
                        <span class="badge badge-secondary mr-2">3</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                    <a href="#" class="d-block small text-decoration-none border-bottom pt-2 pb-2">
                        <span class="badge badge-secondary mr-2">4</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                    <a href="#" class="d-block small text-decoration-none border-bottom pt-2 pb-2">
                        <span class="badge badge-secondary mr-2">5</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                    <a href="#" class="d-block small text-decoration-none  pt-2 pb-2">
                        <span class="badge badge-secondary mr-2">6</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                </div>
            </div>

            <!-- 热门文章(前6篇) -->
            <div class="card mb-4">
                <h6 class="card-header font-weight-bold text-danger">热门文章</h6>
                <div class="card-body">
                    <a href="#" class="d-block small text-decoration-none border-bottom pb-2">
                        <span class="badge badge-secondary mr-2">1</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                    <a href="#" class="d-block small text-decoration-none border-bottom pt-2 pb-2">
                        <span class="badge badge-secondary mr-2">2</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                    <a href="#" class="d-block small text-decoration-none border-bottom pt-2 pb-2">
                        <span class="badge badge-secondary mr-2">3</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                    <a href="#" class="d-block small text-decoration-none border-bottom pt-2 pb-2">
                        <span class="badge badge-secondary mr-2">4</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                    <a href="#" class="d-block small text-decoration-none border-bottom pt-2 pb-2">
                        <span class="badge badge-secondary mr-2">5</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                    <a href="#" class="d-block small text-decoration-none  pt-2 pb-2">
                        <span class="badge badge-secondary mr-2">6</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                </div>
            </div>

            <!-- 最新发布-按发布时间取前5篇 -->
            <div class="card mb-4">
                <h6 class="card-header font-weight-bold text-danger">最新发布</h6>
                <div class="card-body">
                    <a href="#" class="d-block small text-decoration-none border-bottom pb-2">
                        <span class="badge badge-secondary mr-2">11/21</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                    <a href="#" class="d-block small text-decoration-none border-bottom pt-2 pb-2">
                        <span class="badge badge-secondary mr-2">11/21</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                    <a href="#" class="d-block small text-decoration-none border-bottom pt-2 pb-2">
                        <span class="badge badge-secondary mr-2">11/21</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                    <a href="#" class="d-block small text-decoration-none border-bottom pt-2 pb-2">
                        <span class="badge badge-secondary mr-2">11/21</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                    <a href="#" class="d-block small text-decoration-none border-bottom pt-2 pb-2">
                        <span class="badge badge-secondary mr-2">11/21</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                    <a href="#" class="d-block small text-decoration-none  pt-2 pb-2">
                        <span class="badge badge-secondary mr-2">11/21</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                </div>
            </div>

        </div>
    </div>
</div>

<!-- 页脚 -->
<footer th:replace="_fragment :: footer" class="container-fluid bg-dark text-white pt-3 pb-3">
    <div class="text-center small">
        &copy;&nbsp;2019&nbsp;|&nbsp;Sponge博客版权所有&nbsp;|&nbsp;京备案88888-2345687
    </div>
</footer>

<!-- 相关JS -->
<th:block th:replace="_fragment :: script">
    <script src="../static/js/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script src="../static/js/bootstrap/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap/popper.min.js"></script>
</th:block>
</body>
</html>