<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragment :: head(~{::title},~{::style})">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sponge博客 - 首页</title>
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <style>
        /*阴影设置*/
        .m-card-box-shadow {
            border: transparent;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
        }
    </style>
</head>
<body>
<!-- https://picsum.photos/images -->
<!-- 导航 -->
<nav th:replace="_fragment :: navbar(1)" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#" th:href="@{/blog}">
        <img src="../static/image/logo.png" width="30" height="30" alt="">
        <span class="small font-weight-bold">Sponge博客</span>
    </a>

    <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
            <li class="nav-item pl-2 pr-2 mr-1">
                <a class="nav-link" href="#" th:href="@{/blog}">首页</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" th:href="@{/blog/diary}">日记</a>
            </li>
            <li class="nav-item pl-2 pr-2 mr-1">
                <a class="nav-link" href="#" th:href="@{/blog/type}">分类</a>
            </li>
            <li class="nav-item pl-2 pr-2 mr-1">
                <a class="nav-link" href="#" th:href="@{/blog/label}">标签</a>
            </li>
            <li class="nav-item pl-2 pr-2 mr-1">
                <a class="nav-link active" href="#" th:href="@{/blog/archive}">归档</a>
            </li>
            <li class="nav-item pl-2 pr-2 mr-1">
                <a class="nav-link" href="#" th:href="@{/blog/isme}">关于</a>
            </li>
            <li class="nav-item pl-2 pr-2">
                <a class="nav-link" href="#" th:href="@{/blog/comment}">留言</a>
            </li>
        </ul>
        <form th:action="@{/blog/search}" th:method="post" class="form-inline bg-light ml-4" style="border-radius: 5px">
            <div class="input-group-sm">
                <input class="form-control" type="search" placeholder="search"
                       style="border: none;background-color:transparent;width: 100px" name="search">
            </div>
            <button class="btn btn-sm" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </div>
</nav>

<!-- 轮播图 -->
<div class="container mt-4">
    <div class="row">
        <!-- 首页推荐文章轮播图 -->
        <div class="col-9">
            <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
                <!-- 指示符 -->
                <ul class="carousel-indicators">
                    <!-- 循环遍历展示轮播图下方滑动块 -->
                    <li th:each="blog,num : ${hotBlog}" data-target="#carousel"
                        th:attr="data-slide-to=${num.count}" class="" th:classappend="${num.count == 1}?'active'"></li>
                </ul>
                <!-- 轮播图片 -->
                <div class="carousel-inner">
                    <!-- 遍历首页推荐数据 -->
                    <div th:each="blog,num : ${hotBlog}" class="carousel-item"
                         th:classappend="${num.count == 1}?'active'">
                        <a class="text-decoration-none" th:href="@{/blog/get/{blogId}(blogId=${blog.blogId})}">
                            <img class="rounded img-fluid" th:attr="src=${blog.imageUrl}" style="height: 350px;width: 100%">
                            <div class="carousel-caption">
                                <h3 th:text="${blog.title}">One</h3>
                                <p th:text="${blog.title}">描述文字!</p>
                            </div>
                        </a>
                    </div>

                </div>
                <!-- 左右切换按钮 -->
                <a class="carousel-control-prev" href="#carousel" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#carousel" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
        <!-- 树型列表 -->
        <div class="col-3 pt-3 pb-3">
            <!-- 图片 -->
            <div class="m-auto" style="height: 160px;width: 160px;">
                <img src="../static/image/cxy.jpg" th:src="@{/image/cxy.jpg}" class="img-fluid">
            </div>
            <!-- 标语介绍 -->
            <div class="text-center pt-4 pb-2">
                <h5>Sponge博客</h5>
                <p class="small">
                    <span class="badge badge-danger">中国·北京</span>
                    <span class="badge badge-warning">Java开发</span>
                </p>
            </div>
            <!-- 联系方式 -->
            <div class="text-center">
                <a href="#" class="btn btn-primary mr-2" data-toggle="modal" data-target="#QQCode"><i class="fa fa-qq"
                                                                                                      aria-hidden="true"></i></a>
                <div class="modal fade" id="QQCode" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                QQ二维码
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="btn btn-primary mr-2" data-toggle="modal" data-target="#wechatCode"><i
                        class="fa fa-weixin" aria-hidden="true"></i></a>
                <div class="modal fade" id="wechatCode" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                微信二维码
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#gitCode"><i class="fa fa-github"
                                                                                                  aria-hidden="true"></i></a>
                <div class="modal fade" id="gitCode" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                GitHub连接
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 内容部分 -->
<div class="container mt-4 mb-5">
    <div class="row">
        <div class="col-9">
            <!-- 首页文章列表 -->
            <div>
                <!-- 博客列表 -->
                <div th:each="blog : ${blogLimitList.data}" class="card mb-3 m-card-box-shadow">
                    <div class="card-body overflow-hidden">
                        <div class="row">
                            <div class="col-2">
                                <img src="../static/image/lb-2.jpeg" th:src="@{/image/lb-2.jpeg}" style="width: 100%;" class="rounded">
                            </div>
                            <div class="col-10">
                                <h5 class="text-dark" th:text="${blog.title}">SpringBoot自动装配原理</h5>
                                <p class="card-text small mt-2 text-dark" th:text="${blog.content}">
                                    博客文章简介博客文章简介博客文章简介博客文章简介博客文章简介博客文章简介
                                    博客文章简介博客文章简介博客文章简介博客文章简介博客文章简介博客文章简介
                                </p>
                                <a href="#" th:href="@{/blog/get/{blogId}(blogId=${blog.blogId})}" class="btn btn-primary btn-sm float-right">查看更多</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent border-light small text-secondary">
                        <!-- 作者 -->
                        <span class="mr-4"><i class="fa fa-user mr-1" aria-hidden="true"></i><span th:text="${blog.author}">kangtutu</span></span>
                        <!-- 时间 -->
                        <span class="mr-4"><i class="fa fa-calendar mr-1" aria-hidden="true"></i><span th:text="${#dates.format(blog.creationTime,'yyyy-MM-dd')}"></span></span>
                        <!-- 浏览 -->
                        <span class="mr-4"><i class="fa fa-eye mr-1" aria-hidden="true"></i><span th:text="${blog.readingQuantity}"></span></span>
                        <!-- 评论 -->
                        <span><i class="fa fa-comments-o mr-1" aria-hidden="true"></i><span th:text="${blog.likeNumInt}"></span></span>
                    </div>
                </div>

            </div>
            <!-- 分页导航 -->
            <div class="overflow-hidden mt-4">
                <a href="#" th:href="@{/blog/page/{pageIndex}(pageIndex=${blogLimitList.pageIndex-1})}" th:if="${blogLimitList.pageIndex > 1}" class="btn btn-sm btn-primary">上一页</a>
                <a href="#" th:href="@{/blog/page/{pageIndex}(pageIndex=${blogLimitList.pageIndex+1})}" th:if="${blogLimitList.lastPage}" class="btn btn-sm btn-primary float-right">下一页</a>
            </div>

        </div>
        <div class="col-3">
            <!--阅读排行(前10篇)-->
            <div class="card mb-4">
                <h6 class="card-header font-weight-bold text-danger">阅读排行</h6>
                <div class="card-body">
                    <a href="#" class="d-block small text-decoration-none border-bottom pb-2">
                        <span class="badge badge-secondary mr-2">1</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                    <a href="#" class="d-block small text-decoration-none border-bottom pt-2 pb-2">
                        <span class="badge badge-secondary mr-2">2</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                    <a href="#" class="d-block small text-decoration-none border-bottom pt-2 pb-2">
                        <span class="badge badge-secondary mr-2">3</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                    <a href="#" class="d-block small text-decoration-none border-bottom pt-2 pb-2">
                        <span class="badge badge-secondary mr-2">4</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                    <a href="#" class="d-block small text-decoration-none border-bottom pt-2 pb-2">
                        <span class="badge badge-secondary mr-2">5</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                    <a href="#" class="d-block small text-decoration-none  pt-2 pb-2">
                        <span class="badge badge-secondary mr-2">6</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                </div>
            </div>

            <!-- 热门文章(前6篇) -->
            <div class="card mb-4">
                <h6 class="card-header font-weight-bold text-danger">热门文章</h6>
                <div class="card-body">
                    <a href="#" class="d-block small text-decoration-none border-bottom pb-2">
                        <span class="badge badge-secondary mr-2">1</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                    <a href="#" class="d-block small text-decoration-none border-bottom pt-2 pb-2">
                        <span class="badge badge-secondary mr-2">2</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                    <a href="#" class="d-block small text-decoration-none border-bottom pt-2 pb-2">
                        <span class="badge badge-secondary mr-2">3</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                    <a href="#" class="d-block small text-decoration-none border-bottom pt-2 pb-2">
                        <span class="badge badge-secondary mr-2">4</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                    <a href="#" class="d-block small text-decoration-none border-bottom pt-2 pb-2">
                        <span class="badge badge-secondary mr-2">5</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                    <a href="#" class="d-block small text-decoration-none  pt-2 pb-2">
                        <span class="badge badge-secondary mr-2">6</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                </div>
            </div>

            <!-- 最新发布-按发布时间取前5篇 -->
            <div class="card mb-4">
                <h6 class="card-header font-weight-bold text-danger">最新发布</h6>
                <div class="card-body">
                    <a href="#" class="d-block small text-decoration-none border-bottom pb-2">
                        <span class="badge badge-secondary mr-2">11/21</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                    <a href="#" class="d-block small text-decoration-none border-bottom pt-2 pb-2">
                        <span class="badge badge-secondary mr-2">11/21</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                    <a href="#" class="d-block small text-decoration-none border-bottom pt-2 pb-2">
                        <span class="badge badge-secondary mr-2">11/21</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                    <a href="#" class="d-block small text-decoration-none border-bottom pt-2 pb-2">
                        <span class="badge badge-secondary mr-2">11/21</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                    <a href="#" class="d-block small text-decoration-none border-bottom pt-2 pb-2">
                        <span class="badge badge-secondary mr-2">11/21</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                    <a href="#" class="d-block small text-decoration-none  pt-2 pb-2">
                        <span class="badge badge-secondary mr-2">11/21</span>
                        <span class="text-dark">博客文章标题博客文章标题...</span>
                    </a>

                </div>
            </div>

            <!-- 标签墙 -->
            <div class="card mb-4">
                <h6 class="card-header font-weight-bold text-danger">最新发布</h6>
                <div class="pt-2 pl-2 pr-2">
                    <a href="#" class="btn btn-sm btn-primary mb-2"><span>JAVA</span><span
                            class="badge badge-light ml-1">9</span></a>
                    <a href="#" class="btn btn-sm btn-primary mb-2"><span>Git</span><span
                            class="badge badge-light ml-1">9</span></a>
                    <a href="#" class="btn btn-sm btn-primary mb-2"><span>Docker</span><span
                            class="badge badge-light ml-1">9</span></a>
                    <a href="#" class="btn btn-sm btn-primary mb-2"><span>Linux</span><span
                            class="badge badge-light ml-1">9</span></a>
                    <a href="#" class="btn btn-sm btn-primary mb-2"><span>Ngnix</span><span
                            class="badge badge-light ml-1">9</span></a>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- 页脚 -->
<footer th:replace="_fragment :: footer" class="container-fluid bg-dark text-white pt-3 pb-3">
    <div class="text-center small">
        &copy;&nbsp;2019&nbsp;|&nbsp;Sponge博客版权所有&nbsp;|&nbsp;京备案88888-2345687
    </div>
</footer>

<!-- 相关JS -->
<th:block th:replace="_fragment :: script">
    <script src="../static/js/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script src="../static/js/bootstrap/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap/popper.min.js"></script>
</th:block>
</body>
</html>