<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragment :: head(~{::title},~{::style})">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sponge-K 博客</title>
    <link rel="stylesheet" href="../static/lib/bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <style>
        .m-btn-css {
            border: 1px #666666 solid;
            color: #666666;
        }

        .m-btn-css:hover {
            color: white;
            border: 1px #666666 solid;
            background-color: #666666;
        }
    </style>
</head>
<body>
<!-- 导航 -->
<nav th:replace="_fragment :: navbar" class="navbar navbar-expand-lg pt-3 pb-3 pl-5 pr-5">
    <a class="navbar-brand" href="#">
        <img src="../static/image/logo.png" width="50" height="50" alt="">
    </a>

    <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
            <li class="nav-item pl-2 pr-2 mr-1">
                <a class="nav-link text-dark" href="index.html">首页</a>
            </li>
            <li class="nav-item pl-2 pr-2 mr-1">
                <a class="nav-link text-dark" href="typeList.html">分类</a>
            </li>
            <li class="nav-item pl-2 pr-2 mr-1">
                <a class="nav-link text-dark" href="labelList.html">标签</a>
            </li>
            <li class="nav-item pl-2 pr-2 mr-1">
                <a class="nav-link text-dark" href="archive.html">归档</a>
            </li>
            <li class="nav-item pl-2 pr-2 mr-1">
                <a class="nav-link text-dark" href="isme.html">关于</a>
            </li>
            <li class="nav-item pl-2 pr-2">
                <a class="nav-link text-dark" href="messageBoard.html">留言</a>
            </li>
        </ul>
        <form class="form-inline bg-light ml-4" style="border-radius: 5px">
            <div class="input-group-sm">
                <input class="form-control" type="search" placeholder="search"
                       style="border: none;background-color:transparent;width: 100px">
            </div>
            <button class="btn btn-sm" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </div>
</nav>

<!-- 内容部分 -->
<div class="container" style="margin-top: 2rem;margin-bottom: 6rem">
    <div class="text-center" style="padding: 5rem 0;margin-bottom: 5rem">
        <h4>留言板</h4>
        <span class="font-weight-light">有什么想说的可以在这里告诉我哦！！！</span>
    </div>

    <!-- 评论信息提交框 -->
    <div class="overflow-hidden p-4">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="obServer">昵称</label>
                <input th:name="obServer" type="text" class="form-control" id="obServer" placeholder="请输入昵称">
            </div>
            <div class="form-group col-md-4">
                <label for="email">邮箱</label>
                <input th:name="email" type="email" class="form-control" id="email" placeholder="请输入邮箱">
            </div>
            <div class="form-group col-md-4">
                <label for="website">网址</label>
                <input th:name="website" type="text" class="form-control" id="website" placeholder="请输入网址">
            </div>
        </div>
        <div class="form-group">
            <label for="commentContent">评论信息</label>
            <textarea th:name="content" class="form-control" id="commentContent" rows="3"></textarea>
        </div>
        <button type="button" onclick="ajaxSubmit()" class="btn m-btn-css float-right">提交评论</button>
    </div>

    <!-- 留言信息 -->
    <div class="mb-4" id="commentLimitList">
        <h5 class="" style="margin-top: 4rem;margin-bottom: 2rem">全部留言：<span th:text="${countComment}">0</span>条</h5>

        <div th:each="comment : ${comments}"  class="card mb-4 border-bottom" style="border: transparent;">
            <div class="card-body">
                <div class="row">
                    <div class="col-1 pt-2 pb-2">
                        <p class="font-weight-bold m-auto" style="width: 40px;height: 40px;border-radius: 50%;line-height: 40px;text-align: center;border:1px blue solid;color: blue">[[${#strings.substring(comment['parent'].obServer,0,1)}]]</p>
                    </div>
                    <div class="col-11">
                        <div class="mb-2">
                            <span class="font-weight-bold" th:text="${comment['parent'].obServer}">Som</span>
                            <span class="small ml-2" style="color: #848484" th:text="${#dates.format(comment['parent'].creationTime, 'yyyy-MM-dd HH:mm')}">2019-11-12 12:23:22</span>
                        </div>
                        <p class="font-weight-light" th:text="${comment['parent'].content}">评论信息</p>
                    </div>
                </div>
                <div th:each="cc : ${comment['children']}" class="row">
                    <div class="offset-1 col-1 pt-2 pb-2">
                        <p class="font-weight-bold m-auto" style="width: 40px;height: 40px;border-radius: 50%;line-height: 40px;text-align: center;border:1px blue solid;color: blue">[[${#strings.substring(cc.obServer,0,1)}]]</p>
                    </div>
                    <div class="col-10">
                        <div class="mb-2">
                            <span class="" th:text="${cc.obServer}">Som</span>
                            <span class="small ml-2" style="color: #848484" th:text="${#dates.format(cc.creationTime, 'yyyy-MM-dd')}">2019-11-12 12:23:22</span>
                        </div>
                        <p class="font-weight-light" th:text="${cc.content}">评论信息</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 页脚 -->
<footer th:replace="_fragment :: footer" class="container-fluid pt-3 pb-1 text-center "
        style="background-color: rgba(194,189,255,0.12);color: #333333;">
    <div class="pt-1 pb-1 small">
        <a href="#" class="text-decoration-none text-dark pl-2 pr-2">关于博主</a>
        <a href="#" class="text-decoration-none text-dark pl-2 pr-2">热门文章</a>
        <a href="#" class="text-decoration-none text-dark pl-2 pr-2">文章分类</a>
        <a href="#" class="text-decoration-none text-dark pl-2 pr-2">文章标签</a>
        <a href="#" class="text-decoration-none text-dark pl-2 pr-2">年度归档</a>
        <a href="#" class="text-decoration-none text-dark pl-2 pr-2">留言板</a>
    </div>
    <div class="pt-2 pb-2" style="color: #868686;font-size: .7rem">
        <span>友情链接:</span>
        <a href="#" class="text-decoration-none pl-2 pr-2" style="color: #868686">关于博主</a>
        <a href="#" class="text-decoration-none pl-2 pr-2" style="color: #868686">关于博主</a>
        <a href="#" class="text-decoration-none pl-2 pr-2" style="color: #868686">关于博主</a>
        <a href="#" class="text-decoration-none pl-2 pr-2" style="color: #868686">关于博主</a>
        <a href="#" class="text-decoration-none pl-2 pr-2" style="color: #868686">关于博主</a>
        <a href="#" class="text-decoration-none pl-2 pr-2" style="color: #868686">关于博主</a>
    </div>
    <p class="pt-1 pb-1 small">Copyright&nbsp;&copy;&nbsp;2019&nbsp;康涂涂先生-sponge-k.com 冀ICP备88886666号 站长统计 · Powered By
        WordPress · Theme By Simplify</p>
</footer>

<th:block th:replace="_fragment :: script">
    <script src="../static/js/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script src="../static/lib/bootstrap-4.3.1/js/bootstrap.min.js"></script>
    <script src="../static/lib/bootstrap-4.3.1/js/popper.min.js"></script>
</th:block>
<script>
    function ajaxSubmit() {
        var obServer = $('#obServer').val();
        var email = $('#email').val();
        var website = $('#website').val();
        var content = $('#commentContent').val();
        //obServer-email-content 参数进行非空判断当存在空参数时提示页面禁止提交
        if (obServer == '' || obServer == undefined || email == '' || email == undefined || content == '' || content == undefined) {
            alert("参数不能为空")
            return;
        }
        //异步提交通过返回值进行自动刷新页面
        $.ajax({
            url: '/blog/board/add',
            data: {
                'obServer': obServer,
                'email': email,
                'content': content,
                'website': website
            },
            dataType: 'JSON',
            type: 'POST',
            success: function (data) {
                window.location.reload();
            },
            error: function (e) {
                console.log(e)
            }
        })
    }


</script>
</body>
</html>